{
	"plugins": ["@prettier/plugin-php", "prettier-plugin-tailwindcss"],
	"useTabs": true,
	"printWidth": 120,
	"proseWrap": "preserve",
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore"
}
